.CardContainer {
    justify-content: center;
    margin: auto;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    background-image: url('../../assets/night-sky.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}