.Container {
    justify-content: center;
}

.CardContainer {
    justify-content: center;
    margin: auto;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    background-image: url('../../assets/night-sky.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

img {
    width: 80%;
    height: 50vh;
    margin: auto;
}

input {
    margin: 0 20px 40px 20px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid yellow;
    background-color: black;
    color: yellow;
    font-size: 20px;
    padding-left: 5px;
}

input:hover {
    background-color: yellow;
    color: black;
}

button {
    height: 33px;
    border-radius: 5px;
    border: 1px solid yellow;
    background-color: black;
    color: yellow;
    font-size: 20px;
}

button:hover {
    background-color: yellow;
    color: black;
}